 
<div class="container justify-content-center">
    <p class="data-header">Dodaj klienta</p>
    <form [formGroup] = "userForm" > 
        <div class="row form-group">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Imię</label><br>
                <input class="form-control" formControlName="name" type="text" placeholder="name">
                <p class = "alert-danger" *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].dirty && userForm.controls['name'].touched">Podaj imie!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Surname</label><br>
                <input class="form-control" formControlName="surname" type="text"  placeholder="surname">
                <p class = "alert-danger" *ngIf="userForm.controls['surname'].invalid && userForm.controls['surname'].dirty && userForm.controls['surname'].touched">Podaj nazwisko!</p> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Wiek</label><br>
                <input class="form-control" formControlName="age" type="text"  placeholder="age">
                <p class = "alert-danger" *ngIf="userForm.controls['age'].invalid && userForm.controls['age'].dirty && userForm.controls['age'].touched">Podaj wiek!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>pesel</label><br>
                <input class="form-control" formControlName="pesel" type="text"  placeholder="pesel"> 
                <p class = "alert-danger" *ngIf="userForm.controls['pesel'].invalid && userForm.controls['pesel'].dirty && userForm.controls['pesel'].touched">Podaj pesel!</p>  
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Misto</label><br>
                <input class="form-control" formControlName="city" type="text"  placeholder="city">
                <p class = "alert-danger" *ngIf="userForm.controls['city'].invalid && userForm.controls['city'].dirty && userForm.controls['city'].touched">Podaj misto!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Ulica</label><br>
                <input class="form-control" formControlName="street" type="text"  placeholder="street">
                <p class = "alert-danger" *ngIf="userForm.controls['street'].invalid && userForm.controls['street'].dirty && userForm.controls['street'].touched">Podaj ulicę!</p>   
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Telefon</label><br>
                <input class="form-control" formControlName="phone" type="text"  placeholder="phone"> 
                <p class = "alert-danger" *ngIf="userForm.controls['phone'].invalid && userForm.controls['phone'].dirty && userForm.controls['phone'].touched">Błędny numer telefonu!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>E-Mail</label><br>
                <input class="form-control" formControlName="email" type="text" placeholder="email">
                <p class = "alert-danger" *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].dirty && userForm.controls['email'].touched">Błędny e-mail!</p>    
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Type</label><br>
                <select class="form-control" formControlName="type"> 
                    <option  *ngFor="let type of typeOfClient" [value] = type >
                        {{ type }}
                    </option> 
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12"><br>
                <button class="btn btn-primary float-right" type="submit" value="Submit" (click)="addUser()"[disabled]="!userForm.valid">Submit</button>
                <button class="btn btn-primary float-right" value="Reset" (click)="reset()">Reset From</button>
            </div>
        </div>
    </form>  
</div>
  


    
<p>
-------------------------------<br>
1. Form Status: {{ userForm.status }}
<br>
<!--
walidacja name: {{!userForm.controls['name'].invalid}} i {{ userForm.controls['name'].dirty }} i  {{ userForm.controls['name'].touched }} 
<br> 
całość name: {{ !userForm.controls['name'].invalid && userForm.controls['name'].dirty && userForm.controls['name'].touched }} 
<br>
-->
walidacja type: invalid: {{!userForm.controls['type'].invalid}} i dirty: {{ userForm.controls['type'].dirty }} i  touched: {{ userForm.controls['type'].touched }} 
<br> 
całość type: {{ !userForm.controls['type'].invalid && userForm.controls['type'].dirty && userForm.controls['type'].touched }} 
--<br>
2. Wartość pola:  
<!--  name: {{ userForm.controls.name.value }} -->
<br>
Rodzaj / typ klienta: {{ userForm.controls.type.value }}
<br>
--<br>
<!-- 
3. Wypełnianie formularza <br>
touched 1 raz name: -> zmiana przy przejsciu: {{ userForm.controls.name.touched }}
<br>
 dirty 1 raz name-> zmiana przy pierwszej literze: {{ userForm.controls.name.dirty}}
<br>
-->
-------------------------------
</p>


