<div class="container">
    <p class="data-header">Dodaj produkt</p>
    <div class="form-container">
        <form [formGroup]="productForm">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Nazwa</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="productForm.controls['name'].invalid &&  productForm.controls.name.touched && productForm.controls.name.invalid">Podaj nazwę!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Ilość</mat-label>
                <input matInput formControlName="volume" required>
                <mat-error *ngIf="productForm.controls['volume'].invalid && productForm.controls.volume.touched && productForm.controls.volume.invalid">Podaj ilość!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Dostawca</mat-label>
                <input matInput formControlName="provider" required>
                <mat-error *ngIf="productForm.controls['provider'].invalid && productForm.controls.provider.touched && productForm.controls.provider.invalid">Podaj dostawcę!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Inne</mat-label>
                <input matInput formControlName="other" required>
                <mat-error *ngIf="productForm.controls['other'].invalid && productForm.controls.other.touched && productForm.controls.other.invalid">Wypełnij pole!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Typ</mat-label>
                <mat-select class="form-control" formControlName="type"> 
                    <mat-option  *ngFor="let type of typeOfProduct" [value] = type >
                        {{ type }}
                    </mat-option> 
                </mat-select>
                <mat-error *ngIf="productForm.controls['type'].invalid && productForm.controls.type.touched && productForm.controls.type.invalid">Wybierz typ!></mat-error>
            </mat-form-field>
            <div class="button">
                <button mat-raised-button type="reset">Resetuj</button>
                <button mat-raised-button color="primary" type="submit" value="Submit" (click)="addProduct()"[disabled]="!productForm.valid">Dodaj</button>
            </div>
        </form>
    </div>
</div>



    
