.icon_menu {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 10rem;
}

app-main-menu {
    margin: 20px 5px 5px 5px;
    
}


.main-menu {
    justify-content: center;
}
 