<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" style="justify-content: center;" class="main-menu">
    <app-main-menu [routerLink]="['/users']" >
        <p title>Użytkownicy</p>
        <p class="menu-image" image><mat-icon>person_outline</mat-icon></p>
    </app-main-menu>
    <app-main-menu [routerLink]="['/clients']" >
        <p title>Klienci</p>
        <p class="menu-image"image><mat-icon>person</mat-icon></p>
    </app-main-menu>
    <app-main-menu [routerLink]="['/products']">
        <p title>Produkty</p>
        <p class="menu-image" image><mat-icon>code</mat-icon></p>
    </app-main-menu>
    <app-main-menu [routerLink]="['/sales']">
        <p title>Sprzedaż</p>
        <p class="menu-image" image><mat-icon>add_shopping_cart</mat-icon></p>
    </app-main-menu>
    <app-main-menu [routerLink]="['/raports']">
        <p title>Raport</p>
        <p class="menu-image" image><mat-icon>info</mat-icon></p>
    </app-main-menu>
</div>


