<div class="row flex justify-content-center">
    <app-main-menu [routerLink]="['/users']" >
        <p title>Użytkownicy</p>
        <p image><img src="../../../assets/img/users.png" class="logo"></p>
    </app-main-menu>
    <app-main-menu [routerLink]="['/raports']">
        <p title>Raport</p>
        <p image ><img src="../../../assets/img/raports.png" class="logo"></p>
    </app-main-menu>
    <app-main-menu [routerLink]="['/products']">
        <p title>Produkty</p>
        <p image><img src="../../../assets/img/bar-code.png" class="logo"></p>
    </app-main-menu>
    <app-main-menu [routerLink]="['/sales']">
        <p title>Sprzedaz</p>
        <p image><img src="../../../assets/img/sale.png" class="logo"></p>
    </app-main-menu>
</div>
