<div class="row form-group flex justify-content-center">
    <app-main-menu [routerLink]="['/users']" >
        <p title>Użytkownicy</p>
        <p class="icon_menu bi bi-people-fill" image></p>
    </app-main-menu>
    <app-main-menu [routerLink]="['/raports']">
        <p title>Raport</p>
        <p class="icon_menu bi bi-graph-up" image></p>
    </app-main-menu>
    <app-main-menu [routerLink]="['/products']">
        <p title>Produkty</p>
        <p class="icon_menu bi bi-upc-scan" image></p>
    </app-main-menu>
    <app-main-menu [routerLink]="['/sales']">
        <p title>Sprzedaż</p>
        <p class= "bi icon_menu bi bi-cart4" image></p>
    </app-main-menu>
</div>

