<!-- 
 
<div class="container justify-content-center">
    <p class="data-header">Edytuj użytkownika: <strong>{{ userForm.controls.name.value }}  {{ userForm.controls.surname.value }} </strong> </p>
    <form [formGroup] = "userForm" > 
        <div class="row form-group">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>PESEL</label><br>
                <input class="form-control" formControlName="pesel" type="text"  placeholder="pesel"> 
                <p class = "alert-danger" *ngIf="userForm.controls['pesel'].invalid">Podaj pesel!</p>  
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Misto</label><br>
                <input class="form-control" formControlName="city" type="text"  placeholder="miasto">
                <p class = "alert-danger" *ngIf="userForm.controls['city'].invalid">Podaj misto!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Ulica</label><br>
                <input class="form-control" formControlName="street" type="text"  placeholder="ulica">
                <p class = "alert-danger" *ngIf="userForm.controls['street'].invalid ">Podaj ulicę!</p>   
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Telefon</label><br>
                <input class="form-control" formControlName="phone" type="text"  placeholder="telefon"> 
                <p class = "alert-danger" *ngIf="userForm.controls['phone'].invalid">Błędny numer telefonu!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>E-Mail</label><br>
                <input class="form-control" formControlName="email" type="text" placeholder="e-mail">
                <p class = "alert-danger" *ngIf="userForm.controls['email'].invalid">Błędny e-mail!</p>    
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Type</label><br>
                <select class="form-control" formControlName="type"> 
                    <option *ngFor="let type of typeOfUser" [value] = type >
                        {{ type }}
                    </option> 
                </select>
                <p class = "alert-danger" *ngIf="userForm.controls['type'].invalid">Uzupełnij!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12"><br>
                <button class="btn btn-primary float-right" type="submit" value="Submit" (click)="updateUser()"[disabled]="!userForm.valid">Aktualizuj</button>
            </div>
        </div>
    </form>  
</div>
-->

<div class="container">
    <p class="data-header">Edytuj użytkownika: <strong>{{ userForm.controls.name.value }}  {{ userForm.controls.surname.value }} </strong> </p>
    <div class="form-container">
        <form [formGroup]="userForm">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>PESEL</mat-label>
                <input matInput formControlName="pesel" required>
                <mat-error *ngIf="userForm.controls['pesel'].invalid && userForm.controls.pesel.touched && userForm.controls.pesel.invalid">Podaj pesel!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Miasto</mat-label>
                <input matInput formControlName="city" required>
                <mat-error *ngIf="userForm.controls['city'].invalid && userForm.controls.city.touched && userForm.controls.city.invalid">Podaj miasto!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Ulica</mat-label>
                <input matInput formControlName="street" required>
                <mat-error *ngIf="userForm.controls['street'].invalid && userForm.controls.street.touched && userForm.controls.street.invalid">Podaj ulicę!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Numer telefonu</mat-label>
                <input matInput formControlName="phone" required>
                <mat-error *ngIf="userForm.controls['phone'].invalid && userForm.controls.phone.touched && userForm.controls.phone.invalid">Podaj numer telefonu!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="userForm.controls['email'].invalid && userForm.controls.email.touched && userForm.controls.email.invalid">Błędny e-mail!</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Typ</mat-label>
                <mat-select class="form-control" formControlName="type"> 
                    <mat-option  *ngFor="let type of typeOfUser" [value] = type >
                        {{ type }}
                    </mat-option> 
                </mat-select>
                <mat-error *ngIf="userForm.controls['type'].invalid && userForm.controls.type.touched && userForm.controls.type.invalid">Wybierz typ!></mat-error>
            </mat-form-field>
            <div class="button">
                <button mat-raised-button color="primary" type="submit" value="Submit" (click)="updateUser()"[disabled]="!userForm.valid">Aktualizuj</button>
            </div>
        </form>
    </div>
</div>