<!-- <p class="data-header">Edit {{ user.name }}</p> -->
 
<div class="container justify-content-center">
    <p class="data-header">Edytuj użytkownika: <strong>{{ userForm.controls.name.value }}  {{ userForm.controls.surname.value }} </strong> </p>
    <form [formGroup] = "userForm" > 
        <div class="row form-group">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>PESEL</label><br>
                <input class="form-control" formControlName="pesel" type="text"  placeholder="pesel"> 
                <p class = "alert-danger" *ngIf="userForm.controls['pesel'].invalid">Podaj pesel!</p>  
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Misto</label><br>
                <input class="form-control" formControlName="city" type="text"  placeholder="miasto">
                <p class = "alert-danger" *ngIf="userForm.controls['city'].invalid">Podaj misto!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Ulica</label><br>
                <input class="form-control" formControlName="street" type="text"  placeholder="ulica">
                <p class = "alert-danger" *ngIf="userForm.controls['street'].invalid ">Podaj ulicę!</p>   
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Telefon</label><br>
                <input class="form-control" formControlName="phone" type="text"  placeholder="telefon"> 
                <p class = "alert-danger" *ngIf="userForm.controls['phone'].invalid">Błędny numer telefonu!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>E-Mail</label><br>
                <input class="form-control" formControlName="email" type="text" placeholder="e-mail">
                <p class = "alert-danger" *ngIf="userForm.controls['email'].invalid">Błędny e-mail!</p>    
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Type</label><br>
                <select class="form-control" formControlName="type"> 
                    <option *ngFor="let type of typeOfUser" [value] = type >
                        {{ type }}
                    </option> 
                </select>
                <p class = "alert-danger" *ngIf="userForm.controls['type'].invalid">Uzupełnij!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12"><br>
                <button class="btn btn-primary float-right" type="submit" value="Submit" (click)="updateUser()"[disabled]="!userForm.valid">Aktualizuj</button>
            </div>
        </div>
    </form>  
</div>
