<mat-card fxFlex="0 1 calc(20% - 20px)"
          fxFlex.lt-md="0 1 calc(50% - 32px)"
          fxFlex.lt-sm="100%">
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <mat-icon class="menu-icon-title">flight_takeoff</mat-icon>
    </div>
    <mat-card-title>
      <ng-content select="[title]"></ng-content>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-content select="[image]"></ng-content>
  </mat-card-content>
</mat-card>
