<mat-toolbar *ngIf="!isAuth">
  <mat-toolbar-row>
    <span class="menu-icon" routerLink="/main" routerLinkActive="active">
      <mat-icon matTooltip="Strona główna" matTooltipPosition="below" class="menu-icon-home">home</mat-icon>
      Biuro
    </span>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar *ngIf="isAuth">
  <mat-toolbar-row>
    <span class="menu-icon" routerLink="/main" routerLinkActive="active">
      <mat-icon matTooltip="Strona główna" matTooltipPosition="below" class="menu-icon-home">home</mat-icon>
      Biuro
    </span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a mat-button routerLink="/users" routerLinkActive="active">Użytkownicy</a>
      <a mat-button routerLink="/products" routerLinkActive="active">Produkty</a>
      <a mat-button routerLink="/clients" routerLinkActive="active">Klienci</a>
      <a mat-button routerLink="/sales" routerLinkActive="active">Sprzedaż</a>
      <a mat-button routerLink="/raports" routerLinkActive="active">Raporty</a>
      <span *ngIf="usersService.userSubject$ | async as user">
        <button class="menu-icon" mat-button [matMenuTriggerFor]="menu">
          <strong>{{ user.name }} {{ user.surname }}</strong>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/userSettings" routerLinkActive="active">Ustawienia</button>
          <button mat-menu-item (click)="logout()">Wyloguj</button>
        </mat-menu>
      </span>
    </div>
    <button mat-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #start mode="over" fixedInViewport="true" #sidenav>
    <mat-nav-list (click)="sidenav.toggle()">
      <button mat-button class="mat-sidenav-button">
        <mat-icon>close</mat-icon>
      </button>
      <a mat-list-item routerLink="/users" routerLinkActive="active">Użytkownicy</a>
      <a mat-list-item routerLink="/clients" routerLinkActive="active">Klienci</a>
      <a mat-list-item routerLink="/products" routerLinkActive="active">Produkty</a>
      <a mat-list-item routerLink="/sales" routerLinkActive="active">Sprzedaż</a>
      <a mat-list-item routerLink="/raports" routerLinkActive="active">Raporty</a>
      <a mat-list-item routerLink="/userSettings" routerLinkActive="active">Ustawienia</a>
      <a mat-list-item (click)="logout()">Wyloguj</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
