 
<div class="container justify-content-center">
    <p class="data-header">Dodaj klienta</p>
    <form [formGroup] = "clientForm" > 
        <div class="row form-group">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Imię</label><br>
                <input class="form-control" formControlName="name" type="text" placeholder="imię">
                <p class = "alert-danger" *ngIf="clientForm.controls['name'].invalid && clientForm.controls['name'].dirty && clientForm.controls['name'].touched">Podaj imie!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Surname</label><br>
                <input class="form-control" formControlName="surname" type="text"  placeholder="nazwisko">
                <p class = "alert-danger" *ngIf="clientForm.controls['surname'].invalid && clientForm.controls['surname'].dirty && clientForm.controls['surname'].touched">Podaj nazwisko!</p> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Telefon</label><br>
                <input class="form-control" formControlName="phone" type="text"  placeholder="telefon"> 
                <p class = "alert-danger" *ngIf="clientForm.controls['phone'].invalid && clientForm.controls['phone'].dirty && clientForm.controls['phone'].touched">Błędny numer telefonu!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>E-Mail</label><br>
                <input class="form-control" formControlName="email" type="text" placeholder="e-mail">
                <p class = "alert-danger" *ngIf="clientForm.controls['email'].invalid && clientForm.controls['email'].dirty && clientForm.controls['email'].touched">Błędny e-mail!</p>    
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Misto</label><br>
                <input class="form-control" formControlName="city" type="text"  placeholder="miasto">
                <p class = "alert-danger" *ngIf="clientForm.controls['city'].invalid && clientForm.controls['city'].dirty && clientForm.controls['city'].touched">Podaj misto!</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Ulica</label><br>
                <input class="form-control" formControlName="street" type="text"  placeholder="ulica">
                <p class = "alert-danger" *ngIf="clientForm.controls['street'].invalid && clientForm.controls['street'].dirty && clientForm.controls['street'].touched">Podaj ulicę!</p>   
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>PESEL lub NIP</label><br>
                <input class="form-control" formControlName="peselOrNIP" type="text"  placeholder="PESEL lub NIP"> 
                <p class = "alert-danger" *ngIf="clientForm.controls['peselOrNIP'].invalid && clientForm.controls['peselOrNIP'].dirty && clientForm.controls['peselOrNIP'].touched">Podaj pesel lub NIP!</p>  
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Dokument</label><br>
                <input class="form-control" formControlName="documentID" type="text"  placeholder="dokument"> 
                <p class = "alert-danger" *ngIf="clientForm.controls['documentID'].invalid && clientForm.controls['documentID'].dirty && clientForm.controls['documentID'].touched">Podaj dokument!</p>  
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Inne</label><br>
                <input class="form-control" formControlName="other" type="text"  placeholder="inne"> 
                <p class = "alert-danger" *ngIf="clientForm.controls['other'].invalid && clientForm.controls['other'].dirty && clientForm.controls['other'].touched">Wypełnij pole!</p>  
            </div>   
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label>Type</label><br>
                <select class="form-control" formControlName="type"> 
                    <option  *ngFor="let type of typeOfClient" [value] = type >
                        {{ type }}
                    </option> 
                </select>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-12"><br>
                <button class="btn btn-primary float-right" type="submit" value="Submit" (click)="addClient()"[disabled]="!clientForm.valid">Submit</button>
                <button class="btn btn-primary float-right" value="Reset" (click)="reset()">Reset From</button>
            </div>
        </div>
    </form>  
</div>
  


    
