.login {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-filed {
  width: 100%;
}

.login-card {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}
