<!-- WSZYSCY UŻYTKOWNICY -->

<div class="container">
    <p class="data-header">Klienci {{users?.length}}</p>
    <div class="row form-group">
        <div class="col-sm-1 logo" [routerLink]="['/users/add']"><img src="../../../assets/img/add-user.png"></div>
        <div class="col-sm-1 logo" (click)="refresh()"><img src="../../../assets/img/refresh.png"></div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12">
            <!-- dodajemy cars && bo  na początku tablica jest pusta (czekamy na API) -->
            <table class="cs-table table table-striped" *ngIf="users && users.length > 0; else noUsersInfo"> <!-- *ngIF="cars.length > 0; else noCarsInfo | jak nie to pokaż blok noCarsInfo-->
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Wiek</th>
                    <th>PESEL</th>
                    <th>Miejscowość</th>
                    <th>Ulica i mieszkanie</th>
                    <th>Numer telefonu</th>
                    <th>email</th>
                    <th>Data dołączenia</th> 
                    <th>Rodzaj</th>   
                    <th>Usuń</th> 
                </tr>
                </thead>
                <tbody >
                    <!-- derektywa | let - zmienna | iterujemy dzieki of | cars wskazuje na tablice | ? pczeka az odpowie api--> 
                    <!-- [routerLink] = ['/cars, car.id']> / daje nam przeniesienie do innej strone/ jest klikalny i uruchamia routing. car.id pobiera dzieki petli let car of cars-->
                    <tr  class="row-car" *ngFor=" let user of users | slice:limit_show_user_min:limit_show_user_max; let i = index" (click)="goToUserDetails(user)" >
                        <td csImportant> {{ user?.id}} </td> <!-- gdy car.isFullyDamaged = true to się to doda klasę -->
                        <td csImportant> {{ user?.name | uppercase }} </td>
                        <td> {{ user?.surname }} </td>
                        <td> {{ user?.age }} </td> 
                        <td> {{ user?.pesel }} </td>
                        <td> {{ user?.city }} </td> 
                        <td> {{ user?.street }} </td> 
                        <td> {{ user?.phone }} </td> 
                        <td> {{ user?.email }} </td> 
                        <td> {{ user?.date | date:'longDate'}} </td>
                        <td> {{ user?.type }}</td>
                        <td  class="logo" image (click)="removeUser(user, $event)"><img src="../../../assets/img/remove-user.png"></td> <!-- (click) = "removeCar(car, $event)" -->
                    </tr>
                </tbody>
            </table>
            <div class="float-right">
                <button class="btn btn-primary" (click)="back()">
                    <img class="d-inline-block mr-1 align-bottom" src="../../../assets/img/back.png" width="30" height="30"  alt="back">
                </button>  
                <button class="btn btn-primary" (click)="next()">
                    <img class="d-inline-block mr-1 align-bottom" src="../../../assets/img/next.png" width="30" height="30"  alt="next">
                </button>
            </div>
            <ng-template #noUsersInfo>
                <div class="no-cars-info">
                    <p>Brak użytkowników</p>
                </div>
            </ng-template>
        </div>
    </div> 
</div>
