@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";



.background, html { 
    //background-image: url(./assets/img/sand.jpg);
}
html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; }


table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 20px;
    width: 100%;
}
  
.main-div {
  justify-content: center;
  align-items: center;
}
  
mat-card-title, mat-card-subtitle {
    text-align: center;
}
  
.applyFilter {
  justify-content: center;
  text-align: center;
}

.form-field {
  margin-right: 10px;
  max-width: 350px;
}

.button {
  text-align: center; 
}

.container {
  text-align: center;
  margin-top: 10px;
  .mat-form-field {
    font-size: 20px;
    max-width: 350px;
  }
  
}

.mat-card-actions {
  text-align: center;
}

.mat-card {
  margin-bottom: 10px;
}

.mat-icon-button, .mat-icon {
  cursor: pointer;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  display: table-cell;
}

.material-icons   {
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle; 
}

.menu-icon-action {
  width: auto;
  height: auto;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  vertical-align: middle; 
}

.data-header {
  font: 18px Arial;
  margin-top: 10px;
}